<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		<!--                 <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div> -->
		<div class="sidebar-brand-text mx-2">
			hyundai  x  Team2
		</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link m-0" href="/">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span style="font-size: 1rem;">Dashboard</span>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">
	

	<!-- Heading -->
	<div class="sidebar-heading">데이터 관리</div>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
			<i class="fas fa-fw fa-cog"></i>
			<span>상품관리</span>
		</a>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<!--                         <h6 class="collapse-header">Custom Components:</h6> -->
				<a class="collapse-item" href="/product/list">상품 조회</a>
				<a class="collapse-item" href="/product/add">상품 등록</a>
				<a class="collapse-item" href="/product/bin">휴지통</a>
				<!-- <a class="collapse-item" href="/product/category">카테고리 관리</a> -->
			</div>
		</div>
	</li>

	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
			<i class="fas fa-fw fa-user"></i>
			<span>회원 관리</span>
		</a>
		<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<!--                         <h6 class="collapse-header">Custom Utilities:</h6> -->
				<a class="collapse-item" href="/member/list">회원 조회</a>
				<a class="collapse-item" href="/member/grade">회원 등급 관리</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrders" aria-expanded="true" aria-controls="collapseOrders">
			<i class="fas fa-fw fa-book"></i>
			<span>주문 관리</span>
		</a>
		<div id="collapseOrders" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<!--                         <h6 class="collapse-header">Custom Utilities:</h6> -->
				<a class="collapse-item" href="/order/dashboard"></a>
				<a class="collapse-item" href="/order/list">주문 전체 조회</a>
				
			</div>
		</div>
	</li>

	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities2" aria-expanded="true" aria-controls="collapseUtilities2">
			<i class="fas fa-fw fa-calendar"></i>
			<span>이벤트 관리</span>
		</a>
		<div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<!--                         <h6 class="collapse-header">Custom Utilities:</h6> -->
				<a class="collapse-item" href="/event/list">이벤트 조회</a>
				<a class="collapse-item" href="/event/eventEnroll">이벤트 등록</a>
			</div>
		</div>
	</li>
	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">디스플레이 관리</div>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
			<i class="fas fa-fw fa-folder"></i>
			<span>메인 페이지 관리</span>
		</a>
		<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">주제 1</h6>
				<a class="collapse-item" href="/display/displayList2">홈 전시관리</a>
				<a class="collapse-item" href="/display/dashboard">대쉬 보드</a>
				<a class="collapse-item" href="forgot-password.html">상세 주제 3</a>
				<div class="collapse-divider"></div>
				<h6 class="collapse-header">주제2</h6>
				<a class="collapse-item" href="404.html">상세 주제 1</a>
				<a class="collapse-item" href="blank.html">상세 주제 2</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Charts -->
	<li class="nav-item">
		<a class="nav-link" href="charts.html">
			<i class="fas fa-fw fa-cog"></i>
			<span>GNB 관리</span>
		</a>
	</li>

	<!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="tables.html">
			<i class="fas fa-fw fa-table"></i>
			<span>카테고리 배치 관리</span>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

	<!-- Sidebar Message -->
	<!--             <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="/bootstrap/img/undraw_rocket.svg" alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
            </div> -->

</ul>
</html>