<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setLayout(~{this::content})}">
	<th:block th:fragment="content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">상품 등록</h1>
		<p>상품은 현재 날짜로 자동 등록됩니다.</p>
		<p class="mb-4">상품의 판매 상태를 변경하려면 상품 조회 후 수정해주세요.</p>

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">상품 개별 등록</h6>
			</div>
			<div class="card-body">
				<form action="">
					<div>
						<label for="product_stock_id">상품코드</label>
						<input name="product_stock_id" class="form-control" placeholder="상품코드를 입력하세요" />
					</div>
					<div class="form-row">
						<div class="mt-3 form-group col-md-6">
							<label for="product_name">상품명</label>
							<input name="product_name" class="form-control" placeholder="상품명을 입력하세요" />
						</div>

						<div class="mt-3 form-group col-md-6">
							<label for="brand_code">브랜드 코드</label>
							<select id="brand_code" class="form-control">
								<option>브랜드 코드</option>
							</select>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="stock">재고 입력</label>
							<input type="text" id="stock" class="form-control" placeholder="재고 입력">
						</div>

						<div class="form-group col-md-3">
							<label for="price">가격 입력</label>
							<input type="text" id="price" class="form-control" placeholder="가격 입력">
						</div>
					</div>

					<div class="form-row">
						<div class="mt-3 form-group col-md-8">
							<label for="note">상품 설명</label>
							<textarea id="note" class="form-control" placeholder="상품 설명을 입력하세요"></textarea>
						</div>
					</div>

					<hr />

					<label>이미지 등록</label>
					<div class="form-row">
						<div class="form-group col-md-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon01">대표 이미지 등록</span>
								</div>
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
								</div>
							</div>
						</div>
						<div class="form-group col-md-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon02">추가 이미지 등록</span>
								</div>
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="inputGroupFile02" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="inputGroupFile02">Choose file</label>
								</div>
							</div>
						</div>
					</div>

					<label for="depth1">카테고리 설정</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<select id="depth1" class="form-control">
								<option>대분류</option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<select id="depth2" class="form-control">
								<option>중분류</option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<select id="depth3" class="form-control">
								<option>소분류</option>
							</select>
						</div>
					</div>



					<label>옵션</label>
					<div class="form-row">
						<div class="form-group col-md-2">
							<select id="depth1" class="form-control">
								<option>사이즈 코드</option>
							</select>
						</div>
						<div class="form-group col-md-2">
							<input id="depth2" class="form-control" placeholder="컬러 코드">
						</div>

						<div class="form-group col-md-8">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon01">컬러칩 이미지 등록</span>
								</div>
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
								</div>
							</div>
						</div>
					</div>
					<div>
						<label for="with_item_id">함께 코디한 상품 코드</label>
						<input name="with_item_id" class="form-control" placeholder="매칭할 상품의 코드를 입력하세요" />
					</div>




					<button class="btn btn-primary btn-sm mt-5">등록</button>
				</form>

			</div>
		</div>

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">상품 일괄 등록</h6>
			</div>
			<p class="m-4">엑셀 파일 등록 양식은 공지사항을 참고해주세요.</p>
			<div class="card-body">
				<form action="">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroupFileAddon03">엑셀 파일 등록</span>
						</div>
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon01">
							<label class="custom-file-label" for="inputGroupFile03">Choose file</label>
						</div>
					</div>


					<button class="btn btn-primary mt-5 btn-sm">등록</button>
				</form>

			</div>
		</div>

		<!-- /.container-fluid -->
	</th:block>
</th:block>
</html>