<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setLayout(~{this::content})}">
	<th:block th:fragment="content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">카테고리 관리</h1>
		<p>상품 카테고리를 추가, 수정 및 삭제할 수 있습니다.</p>

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">상품 카테고리 수정</h6>
			</div>
			<div class="card-body">

					<button class="btn btn-primary mt-5">저장</button>

			</div>
		</div>

		<!-- /.container-fluid -->
	</th:block>
</th:block>
</html>