<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setLayout(~{this::content})}">
	<th:block th:fragment="content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">상품 수정</h1>
		<p>상품은 현재 날짜로 자동 등록됩니다.</p>
		<p class="mb-4">상품의 판매 상태를 변경하려면 상품 조회 후 수정해주세요.</p>

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">상품 개별 수정</h6>
			</div>
			<div class="card-body">
				<form action="/product/modify/process" method="post" enctype="multipart/form-data">
					<div>
						<label for="pcommonid">공통상품코드</label>
						<input name="pcommonid" th:value="${orgData.pcommonid}" class="form-control" placeholder="'_'로 구분 되지 않는 공통상품코드를 입력하세요" required disabled />
						<input name="pstockid" type="hidden" th:value="${orgData.pstockid}"/>
					</div>
					<div class="form-row">
						<div class="mt-3 form-group col-md-6">
							<label for="pname">상품명</label>
							<input name="pname" class="form-control" th:value="${orgData.pname}" placeholder="상품명을 입력하세요" required />
						</div>

						<div class="mt-3 form-group col-md-6">
							<label for="bname">브랜드</label>
							<select id="bname" name="bname" class="form-control" required>
								<option value="">브랜드</option>
								<option th:selected="${orgData.bname}" th:each="brandObj : ${brandList}" th:value="${brandObj.bname}" th:text="${brandObj.bname}">
							</select>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="stock">재고 입력</label>
							<input type="number" id="stock" th:value="${orgData.stock}" name="stock" class="form-control" placeholder="재고 입력" required>
						</div>

						<div class="form-group col-md-3">
							<label for="pprice">가격 입력</label>
							<input type="number" id="pprice" th:value="${orgData.pprice}" name="pprice" class="form-control" placeholder="가격 입력" required>
						</div>
					</div>

					<div class="form-row">
						<div class="mt-3 form-group col-md-8">
							<label for="pnote">상품 설명</label>
							<textarea id="pnote" name="pnote" class="form-control">[[${orgData.pnote}]]</textarea>
						</div>
					</div>

					<hr />

					<label>이미지 등록</label>
					<div class="form-row">
						<div class="form-group col-md-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon01">대표 이미지 수정</span>
								</div>
								<div class="custom-file">
									<input id="img1" type="file" name="img1" class="custom-file-input" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="img1">Choose file</label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row">

						<div class="form-group col-md-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon02">추가 이미지 1 수정</span>
								</div>
								<div class="custom-file">
									<input id="img2" type="file" name="img2" class="custom-file-input" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="img2">Choose file</label>
								</div>
							</div>
						</div>
						<div class="form-group col-md-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon02">추가 이미지 2 수정</span>
								</div>
								<div class="custom-file">
									<input id="img3" type="file" name="img3" class="custom-file-input" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="img3">Choose file</label>
								</div>
							</div>
						</div>
					</div>
					<label for="depth1">카테고리 설정</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<input type="hidden" name="hiddenD1name" th:value="${orgData.d1name}">
							<select id="d1name" name="d1name" class="form-control" required>
								<option value="">대분류</option>
								<option th:selected="${orgData.d1name == depth1Obj.d1name}" th:value="${depth1Obj.d1name}" th:text="${depth1Obj.d1name}" th:each="depth1Obj:${d1nameList}"></option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<input type="hidden" name="hiddenD2name" th:value="${orgData.d2name}">
							<select id="d2name" name="d2name" class="form-control" required>
								<option value="">중분류</option>
								<option th:selected="${orgData.d2name == depth2Obj.d2name}" th:value="${depth2Obj.d2name}" th:text="${depth2Obj.d2name}" th:each="depth2Obj:${d2nameList}"></option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<input type="hidden" name="hiddenD3name" th:value="${orgData.d3name}">
							<select id="d3name" name="d3name" class="form-control" required>
								<option value="">소분류</option>
								<option th:selected="${orgData.d3name == depth3Obj.d3name}" th:value="${depth3Obj.d3name}" th:text="${depth3Obj.d3name}" th:each="depth3Obj:${d3nameList}"></option>
							</select>
						</div>
					</div>

					<script>
						$("#d1name").change(function() {
							//							console.log("change");
							let d1name = $(this).val();
							console.log(d1name);
							let url = "/product/ajax/setdepth2"
							// post 방식으로 pcolorId 데이터를 url에 전송
							$.ajax({
								url : url,
								method : "post",
								data : {
									"d1name" : d1name
								},
								// 전송 후 결과는 사이즈 리스트를 가지는 jsp fragment가 넘어오고, 해당 fragment를 html에 뿌려줌
								success : function(result) {
									$("#d2name").html(result);
									console.log("result = ", result);
								},
								error : function(error) {
									$("#d2name").html('<option value="">중분류</option>');
								}
							});
							$("#d3name").html('<option value="">소분류</option>');
						});

						$("#d2name").change(function() {
							//							console.log("change");
							let d2name = $(this).val();
							console.log(d2name);
							let url = "/product/ajax/setdepth3"
							// post 방식으로 pcolorId 데이터를 url에 전송
							$.ajax({
								url : url,
								method : "post",
								data : {
									"d2name" : d2name
								},
								// 전송 후 결과는 사이즈 리스트를 가지는 jsp fragment가 넘어오고, 해당 fragment를 html에 뿌려줌
								success : function(result) {
									$("#d3name").html(result);
									console.log("result = ", result);
								},
								error : function(error) {
									$("#d3name").html('<option value="">소분류</option>');
								}
							});
						});
					</script>

					<label>옵션</label>
					<div class="form-row">
						<div class="form-group col-md-2">
							<select id="scode" name="scode" class="form-control">
								<option value="">사이즈 코드</option>
								<option th:selected="${orgData.scode}" th:text="${sizeObj.scode}" th:value="${sizeObj.scode}" th:each="sizeObj : ${sizeList}">사이즈 코드</option>
							</select>
						</div>
						<div class="form-group col-md-2">
							<input id="ccode" name="ccode" th:value="${orgData.ccode}" class="form-control" placeholder="컬러 코드">
						</div>

						<div class="form-group col-md-8">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon01">컬러칩 이미지 수정</span>
								</div>
								<div class="custom-file">
									<input id="colorImg" type="file" name="colorImg" class="custom-file-input" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="colorImg">Choose file</label>
								</div>
							</div>
						</div>
					</div>
					<div>
						<label for="wcolorid">함께 코디한 상품 코드</label>
						<input name="wcolorid" class="form-control" placeholder="매칭할 상품의 코드를 입력하세요" />
					</div>

					<!-- <div class="form-row"> -->
						<div>
							<label for="regCheck">오늘 날짜로 업데이트</label>
							<input type="checkbox" name="regCheck" />
						</div>
					<!-- </div> -->



					<input type="button" class="btn btn-primary btn-sm mt-5" value="수정" data-toggle="modal" th:onclick="setModal()" data-target="#exampleModal" />
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<div>
										<h5>다음과 같이 상품을 수정합니다.</h5>
										<h5 class="modal-title" style="font-weight: bold;" id="exampleModalLabel"></h5>
									</div>
									<button type="button" class="close btn-sm" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div>
										<h6 class="modal-depth" style="font-weight: bold;"></h6>
									</div>
									<br />
									<div>
										<p class="modal-pstockid"></p>
									</div>
									<div>
										<img class="modal-img1" width="50%" alt="" src="">
									</div>
									<hr />
									<div>
										<span class="modal-pnote"></span>
									</div>
									<hr />
									<div>
										<span class="modal-pprice"></span>
									</div>
									<div>
										<span class="modal-stock"></span>
									</div>
								</div>
								<div class="modal-footer">
									<input type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" value="Close" />
									<button class="btn btn-primary btn-sm">수정</button>
								</div>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
		<script>
			$("#ccode").change(function() {
				console.log($(this).val());
			});
			$('#img1').change(function() {
				setImageFromFile(this, '.modal-img1');
			});
			function setImageFromFile(input, expression) {
				if (input.files && input.files[0]) {
					let reader = new FileReader();
					reader.onload = function(e) {
						$(expression).attr('src', e.target.result);
					}
					reader.readAsDataURL(input.files[0]);
				}
			}
			function setModal() {
				$(".modal-title").text($("input[name='pname']").val());
				$(".modal-depth").text($("select[name='d1name']").val() + " > " + $("select[name='d2name']").val() + " > " + $("select[name='d3name']").val());
				$(".modal-pstockid").text("상품코드 : " + $("input[name='pcommonid']").val() + "_" + $("input[name='ccode']").val() + "_" + $("select[name='scode']").val());
				/* 				$(".modal-img1").val($("input[name='img1']").val()); */
				$(".modal-pnote").text($("textarea[name='pnote']").val());
				$(".modal-pprice").text('가격 : ₩ ' + $("input[name='pprice']").val());
				$(".modal-stock").text('재고 : ' + $("input[name='stock']").val() + '개');
			}

			$(document).on('change', '.custom-file-input', function(event) {
				$(this).next('.custom-file-label').html(event.target.files[0].name);
			})
		</script>

		<!-- /.container-fluid -->
	</th:block>
</th:block>
</html>