<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setLayout(~{this::content})}">
	<th:block th:fragment="content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800 font-weight-bold">상품 조회</h1>
		<p class="mb-4">상품을 조회한 후 수정하고 삭제할 수 있습니다.</p>
		<div class="card shadow mb-4">
			<div class="card-header">
				<h6 class="m-0 font-weight-bold text-primary">상품 검색</h6>
			</div>
			<div class="card-body">
				<form id="searchForm" method="post">
					<div class="input-group mb-3">
						<div class="input-group-prepend ">
							<select id="gubun" name="gubun" class="form-control">
								<option value="pname">상품명</option>
								<option value="bname">브랜드</option>
								<option value="pstockid">상품코드</option>
							</select>
						</div>
						<input type="text" id="gubunField" class="form-control">
						<input type="hidden" id="pstockid" name="pstockid">
						<input type="hidden" id="pname" name="pname">
						<input type="hidden" id="bname" name="bname">
					</div>
					<hr />
					<label>기간 조회</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<input type="date" id="startRegDate" name="startRegDate" class="form-control" placeholder="조회 시작 날짜" min="1990-01-01">
						</div>
						~
						<div class="form-group col-md-3">
							<input type="date" id="endRegDate" name="endRegDate" class="form-control" placeholder="조회 종료 날짜" max="2021-12-31">
						</div>
					</div>

					<label>재고 범위별 조회</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<input type="number" id="minStock" name="minStock" class="form-control" placeholder="최소 재고" min="0">
						</div>
						~
						<div class="form-group col-md-3">
							<input type="number" id="maxStock" name="maxStock" class="form-control" placeholder="최대 재고" min="0">
						</div>
					</div>

					<label for="d1name">카테고리별 조회</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<select id="d1name" name="d1name" class="form-control">
								<option value="">대분류</option>
								<option th:value="${depth1Obj.d1name}" th:text="${depth1Obj.d1name}" th:each="depth1Obj:${d1nameList}"></option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<select id="d2name" name="d2name" class="form-control">
								<option value="">중분류</option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<select id="d3name" name="d3name" class="form-control">
								<option value="">소분류</option>
							</select>
						</div>
					</div>
					<script>
						$("#d1name").change(function() {
							//							console.log("change");
							let d1name = $(this).val();
							console.log(d1name);
							let url = "/product/ajax/setdepth2"
							// post 방식으로 pcolorId 데이터를 url에 전송
							$.ajax({
								url : url,
								method : "post",
								data : {
									"d1name" : d1name
								},
								// 전송 후 결과는 사이즈 리스트를 가지는 jsp fragment가 넘어오고, 해당 fragment를 html에 뿌려줌
								success : function(result) {
									$("#d2name").html(result);
									console.log("result = ", result);
								},
								error : function(error) {
									$("#d2name").html('<option value="">중분류</option>');
								}
							});
							$("#d3name").html('<option value="">소분류</option>');
						});

						$("#d2name").change(function() {
							//							console.log("change");
							let d2name = $(this).val();
							console.log(d2name);
							let url = "/product/ajax/setdepth3"
							// post 방식으로 pcolorId 데이터를 url에 전송
							$.ajax({
								url : url,
								method : "post",
								data : {
									"d2name" : d2name
								},
								// 전송 후 결과는 사이즈 리스트를 가지는 jsp fragment가 넘어오고, 해당 fragment를 html에 뿌려줌
								success : function(result) {
									$("#d3name").html(result);
									console.log("result = ", result);
								},
								error : function(error) {
									$("#d3name").html('<option value="">소분류</option>');
								}
							});
						});
					</script>
					<input type="button" class="btn btn-primary btn-sm" value="검색" onclick="searchProduct()"/>
				</form>
				<script>
				function searchProduct(pageNo=1) {
					/* gubun은 pstockid, pname, bname중 하나이다 */
					let gubun = $("#gubun").val();
					let gubunField = $("#gubunField").val();
					console.log(gubun);
					console.log(gubunField);
					
					let startRegDate = $("#startRegDate").val();
					let endRegDate = $("#endRegDate").val();
					let minStock = $("#minStock").val();
					let maxStock = $("#maxStock").val();
					let d1name = $("#d1name").val();
					let d2name = $("#d2name").val();
					let d3name = $("#d3name").val();
					let sortBy = $("#sortBy").val();
					
					data = {
							[gubun] : gubunField,
							startRegDate,
							endRegDate,
							minStock,
							maxStock,
							d1name,
							d2name,
							d3name,
							pageNo,
							sortBy
					};
					console.log(data);
					
					var url = "/product/ajax/result";
					$.ajax({
						url:url,
						method: "post",
						data: data,
						success: function(result) {
							$("#result").html(result);
						}
						
					});
					/* $("#searchForm").submit(); */
/* 					data = {
						gubun : 
					} */
				}
				</script>
			</div>
		</div>

		<!-- DataTales Example -->
		<div class="card shadow mb-4" id="result">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">조회 결과</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>
									<input type="checkbox">
								</th>
								<th>상품코드</th>
								<th>이름</th>
								<th>재고</th>
								<th>판매량</th>
								<th>등록날짜</th>
								<th>사이즈</th>
								<th>색상</th>
								<th>가격</th>
								<th>브랜드명</th>
								<th>대분류</th>
								<th>중분류</th>
								<th>소분류</th>
							</tr>
						</thead>
 						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- /.container-fluid -->
	</th:block>
</th:block>
</html>