
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">조회 결과 [[${pager.getTotalRows()}]]건</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered m-1" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>상품번호</th>
						<th>이름</th>
						<th>사이즈</th>
						<th>색상</th>
						<th>가격</th>
						<th>재고</th>
						<th>브랜드명</th>
						<th>대분류</th>
						<th>중분류</th>
						<th>소분류</th>
					</tr>
				</thead>
				<tbody>
					<tr style="font-size: .8rem;" th:each="product : ${productList}">
						<td>
							<a href="#" data-toggle="modal" th:onclick="setModal([[${product}]])" data-target="#exampleModal">[[${product.pstockid}]]</a>
						</td>
						<td>[[${product.pname}]]</td>
						<td>[[${product.scode}]]</td>
						<td>[[${product.ccode}]]</td>
						<td>[[${#numbers.formatInteger(product.pprice, 3, 'COMMA')}]]</td>
						<td style="text-align: right;">[[${product.stock}]]</td>
						<td>[[${product.bname}]]</td>
						<td>[[${product.d1name}]]</td>
						<td>[[${product.d2name}]]</td>
						<td>[[${product.d3name}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- 		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
		  테스트 버튼
		</button> -->
		<script>
		function setModal(product) {
			$(".modal-title").text(product.pname);
			$(".modal-depth").text(product.d1name + " > " + product.d2name + " > " + product.d3name);
			$(".modal-pstockid").text("상품코드 : " + product.pstockid);
			$("#hidden-pstockid").val(product.pstockid);
			$(".modal-img1").attr("src", product.img1);
			$(".modal-pnote").text(product.pnote);
			$(".modal-pprice").text('가격 : ₩ ' + product.pprice.toLocaleString());
			$(".modal-stock").text('재고 : ' + product.stock+ '개');
		}
		</script>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<div>
		        	<h5 class="modal-title" style="font-weight: bold;" id="exampleModalLabel"></h5>
	        	</div>
		        <button type="button" class="close btn-sm" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div>
		        	<h6 class="modal-depth" style="font-weight: bold;"></h6>
		        </div>
		        <br/>
		      	<div>
		      		<input type="hidden" id="hidden-pstockid">
		      		<p class="modal-pstockid"></p>
		      	</div>
		        <div>
		        	<img class="modal-img1" width="50%" alt="" src="">
		        </div>
		        <hr/>
		        <div>
		        	<span class="modal-pnote"></span>
		        </div>
		        <hr/>
		        <div>
		        	<span class="modal-pprice"></span>
		        </div>
		        <div>
		        	<span class="modal-stock"></span>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary btn-sm" onclick="modify()">상품 정보 수정하기</button>
		        <script>
		        function modify() {
		        	let pstockid = $("#hidden-pstockid").val();
		        	let URI = "/product/modify?pstockid="+pstockid;
		        	location.href=URI;
		        }
		        </script>
		      </div>
		    </div>
		  </div>
		</div>
		<!--/* 페이징 처리 부분*/-->
		<!-- <th:block th:if="${session.pager != null}"> -->
		<div class="row-vw d-flex">
			<div class="mx-auto">
				<!--/* <c:set var="urlcontainer" value="${pageContext.request.contextPath}/product/${str}" /> */-->
				<a href="javascript:void(0)" class="paginigBtn" onclick="searchProduct(1)">처음</a>
				<th:block th:if="${pager.getGroupNo()>1}">
					<a href="javascript:void(0)" class="paginigBtn" th:onclick="searchProduct([[${pager.getStartPageNo()-1}]])">이전</a>
				</th:block>
				<th:block th:each="i : ${#numbers.sequence(pager.getStartPageNo(), pager.getEndPageNo())}">
					<a href="javascript:void(0)" class="paginigBtn" th:classappend="${pager.getPageNo() == i}?'check':''" th:styleappend="${pager.getPageNo() == i}?'border: 1px solid; padding: 5px; border-radius: 20%; background-color: #295F39; color: #ffffff; font-weight: bold;':''" 
					th:onclick="searchProduct([[${i}]])">[[${i}]]</a>
				</th:block>

				<th:block th:if="${pager.getGroupNo()<pager.getTotalGroupNo()}">
					<a href="javascript:void(0)" class="paginigBtn" th:onclick="searchProduct([[${pager.getEndPageNo()+1}]])">다음</a>
				</th:block>
				<a href="javascript:void(0)" class="paginigBtn" th:onclick="searchProduct([[${pager.getTotalPageNo()}]])">맨끝</a>
			</div>
		</div>
	</div>
<!-- 		</th:block>	 -->