
<script>
/*
 * author: 현지
 * 모든 체크박스를 컨트롤하는 마스터 체크박스를 클릭 시 실행되는 함수
 */
function checkAll(e) {
	// 마스터 체크박스를 체크한 경우
	if ($(e).is(':checked')) {
		// 모든 체크박스를 체크한 후
		$(".entryProductCheck").prop("checked", true);
		// disabled된 체크박스는 체크를 해제한다
		$(".entryProductCheck:disabled").prop("checked", false);
	// 마스터 체크박스를 해제한 경우
	} else {
		// 모든 체크박스를 해제
		$(".entryProductCheck").prop("checked", false);
	}
}

/*
 * author: 현지
 * 체크된 체크박스의 개수를 세는 함수
 * 체크박스 상태 바뀔때마다 실행
 */
function selectProductCount() {
	
	// 체크된 체크박스의 개수
	var currChecked = $(".entryProductCheck:checked").length;
	// 체크할 수 있는 체크박스의 개수
	var canChecked = $(".entryProductCheck:enabled").length;
	// 체크할 수 있는 체크박스가 모두 체크되지 않은 경우
	if (currChecked !== canChecked) {
		// 마스터 체크박스를 체크 해제한다
		$("#entryCheckAll").prop("checked", false);
	// 현재 체크할 수 있는 체크박스를 모두 체크한 경우
	} else {
		// 마스터 체크박스를 체크한다
		$("#entryCheckAll").prop("checked", true);
	}
}
</script>
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">조회 결과 [[${pager.getTotalRows()}]]건</h6>
	</div>
	<div class="card-body">
		<select id="sortBy" onchange="searchProduct()">
			<option th:selected="${searchForm.sortBy == 'regDateDesc'}" value="regDateDesc">최신상품순</option>
			<option th:selected="${searchForm.sortBy == 'regDateAsc'}" value="regDateAsc">오래된상품순</option>
			<option th:selected="${searchForm.sortBy == 'stockAsc'}" value="stockAsc">재고적은순</option>
			<option th:selected="${searchForm.sortBy == 'stockDesc'}" value="stockDesc">재고많은순</option>
			<option th:selected="${searchForm.sortBy == 'salesAsc'}" value="salesAsc">판매량낮은순</option>
			<option th:selected="${searchForm.sortBy == 'salesDesc'}" value="salesDesc">판매량높은순</option>
			<option th:selected="${searchForm.sortBy == 'pstockidAsc'}" value="pstockidAsc">상품코드 오름차순</option>
			<option th:selected="${searchForm.sortBy == 'pstockidDesc'}" value="pstockidDesc">상품코드 내림차순</option>
		</select>
		<div class="table-responsive">
			<table class="table table-bordered m-1" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>
							<input id="entryCheckAll" name="entryCheckAll" type="checkbox" onclick="checkAll(this);selectProductCount();">
						</th>
						<th>상품코드</th>
						<th>이름</th>
						<th>재고</th>
						<th>판매량</th>
						<th>등록날짜</th>
						<th>사이즈</th>
						<th>색상</th>
						<th>가격</th>
						<th>브랜드명</th>
						<th>대분류</th>
						<th>중분류</th>
						<th>소분류</th>
					</tr>
				</thead>
				<tbody>
					<tr style="font-size: .8rem;" th:each="product : ${productList}">
						<td style="text-align: center;">
							<input class="entryProductCheck" type="checkbox" onclick="selectProductCount();" th:value="${product.pstockid}">
						</td>
						<td>
							<a href="#" data-toggle="modal" th:onclick="setModal([[${product}]])" data-target="#exampleModal">[[${product.pstockid}]]</a>
						</td>
						<td>[[${product.pname}]]</td>
						<td style="text-align: right;">[[${product.stock}]]</td>
						<td style="text-align: right;">[[${product.sales}]]</td>
						<td th:text="${#strings.arraySplit(product.regDate, ' ')[0]}"></td>
						<td>[[${product.scode}]]</td>
						<td>[[${product.ccode}]]</td>
						<td>[[${#numbers.formatInteger(product.pprice, 3, 'COMMA')}]]</td>
						<td>[[${product.bname}]]</td>
						<td>[[${product.d1name}]]</td>
						<td>[[${product.d2name}]]</td>
						<td>[[${product.d3name}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- 		<!-- Button trigger modal -->
		<script>
		
		function setModal(product) {
			$(".modal-title").text(product.pname);
			$(".modal-depth").text(product.d1name + " > " + product.d2name + " > " + product.d3name);
			$(".modal-pstockid").text("상품코드 : " + product.pstockid);
			$("#hidden-pstockid").val(product.pstockid);
			$("#hidden-d1name").val(product.d1name);
			$("#hidden-d2name").val(product.d2name);
			$("#hidden-d3name").val(product.d3name);
			$(".modal-img1").attr("src", product.img1);
			$(".modal-img2").attr("src", product.img2);
			$(".modal-img3").attr("src", product.img3);
			$(".modal-colorImg").attr("src", product.colorImg);
			$(".modal-pnote").text(product.pnote);
			$(".modal-pprice").text('가격 : ₩ ' + product.pprice.toLocaleString());
			$(".modal-stock").text('재고 : ' + product.stock+ '개');
		}
		</script>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		  <form action="/product/modify" method="post">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<div>
		        	<h5 class="modal-title" style="font-weight: bold;" id="exampleModalLabel"></h5>
	        	</div>
		        <button type="button" class="close btn-sm" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div>
		        	<h6 class="modal-depth" style="font-weight: bold;"></h6>
		        </div>
		        <br/>
		      	<div>
		      		<input type="hidden" id="hidden-pstockid" name="hiddenPstockid">
		      		<input type="hidden" id="hidden-d1name" name="hiddenD1name">
		      		<input type="hidden" id="hidden-d2name" name="hiddenD2name">
		      		<input type="hidden" id="hidden-d3name" name="hiddenD3name">
		      		<p class="modal-pstockid"></p>
		      	</div>
		        <div>
		        	<img class="modal-img1" width="50%" alt="" src="">
		        </div>
		        <hr/>
      	        <div>
		        	<img class="modal-img2" width="50%" alt="" src="">
		        </div>
      	        <div class="mt-2">
		        	<img class="modal-img3" width="50%" alt="" src="">
		        </div>
      	        <div class="mt-2">
		        	<img class="modal-colorImg" width="10%" alt="" src="">
		        </div>
		        <hr/>
		        <div>
		        	<span class="modal-pnote"></span>
		        </div>
		        <hr/>
		        <div>
		        	<span class="modal-pprice"></span>
		        </div>
		        <div>
		        	<span class="modal-stock"></span>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <input type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" value="Close"/>
		        <button class="btn btn-primary btn-sm">상품 정보 수정하기</button>
		      </div>
		    </div>
		    </form>
		  </div>
		</div>
		<input type="button" class="btn btn-sm btn-primary" value="선택상품 삭제하기" onclick="goToBin()">
		<script>
		
		function goToBin() {
			// 선택된 상품을 가져온다
			let checkedElems = $(".entryProductCheck:checked");
			// 선택된 상품이 없는 경우
			if (checkedElems.length < 1) {
				alert("상품을 선택해주세요.");
			} else {
				let dupProducts = [];
				checkedElems.each(function() {
					let pstockid = $(this).val();
					dupProducts.push(pstockid);
				});
				let set = new Set(dupProducts);
				let products = [...set];
				console.log("products", products);
				
				let url = "/product/ajax/bin";
				$.ajax({
					url,
					method: "post",
					data: JSON.stringify(products),
					contentType: 'application/json',
					success: function(result) {
						alert("삭제되었습니다.");
						window.location.href="/product/bin";
					}
				});
			}
		}
		</script>
		<!--/* 페이징 처리 부분*/-->
		<!-- <th:block th:if="${session.pager != null}"> -->
		<div class="row-vw d-flex">
			<div class="mx-auto">
				<!--/* <c:set var="urlcontainer" value="${pageContext.request.contextPath}/product/${str}" /> */-->
				<a href="javascript:void(0)" class="paginigBtn" onclick="searchProduct(1)">처음</a>
				<th:block th:if="${pager.getGroupNo()>1}">
					<a href="javascript:void(0)" class="paginigBtn" th:onclick="searchProduct([[${pager.getStartPageNo()-1}]])">이전</a>
				</th:block>
				<th:block th:each="i : ${#numbers.sequence(pager.getStartPageNo(), pager.getEndPageNo())}">
					<a href="javascript:void(0)" class="paginigBtn" th:classappend="${pager.getPageNo() == i}?'check':''" th:styleappend="${pager.getPageNo() == i}?'border: 1px solid; padding: 5px; border-radius: 20%; background-color: #295F39; color: #ffffff; font-weight: bold;':''" 
					th:onclick="searchProduct([[${i}]])">[[${i}]]</a>
				</th:block>

				<th:block th:if="${pager.getGroupNo()<pager.getTotalGroupNo()}">
					<a href="javascript:void(0)" class="paginigBtn" th:onclick="searchProduct([[${pager.getEndPageNo()+1}]])">다음</a>
				</th:block>
				<a href="javascript:void(0)" class="paginigBtn" th:onclick="searchProduct([[${pager.getTotalPageNo()}]])">맨끝</a>
			</div>
		</div>
	</div>
<!-- 		</th:block>	 -->