<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setLayout(~{this::content})}">
	<th:block th:fragment="content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">상품 조회</h1>
		<p class="mb-4">상품을 조회한 후 수정하고 삭제할 수 있습니다.</p>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">상품 검색</h6>
			</div>
			<div class="card-body">
				<form id="searchForm" method="post">
					<div>
						<label for="product_stock_id">상품코드</label>
						<input name="product_stock_id" class="form-control" placeholder="상품코드를 입력하세요" />
					</div>
					<div class="form-row">
						<div class="mt-3 form-group col-md-6">
							<label for="product_name">상품명</label>
							<input name="product_name" class="form-control" placeholder="상품명을 입력하세요" />
						</div>

						<div class="mt-3 form-group col-md-6">
							<label for="brand_name">브랜드명</label>
							<input name="brand_name" class="form-control" placeholder="브랜드명을 입력하세요" />
						</div>
					</div>
					<label>기간 조회</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<input type="date" name="start_date" class="form-control" placeholder="조회 시작 날짜" min="1990-01-01">
						</div>
						~
<!-- 						<div class="form-group col-md-1">
						<span>~</span>
						</div> -->
						<div class="form-group col-md-3">
							<input type="date" name="end_date" class="form-control" placeholder="조회 종료 날짜" max="2021-12-31">
						</div>
					</div>
					
					<label>재고 범위별 조회</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<input type="number" name="start_stock" class="form-control" placeholder="최소 재고" min="0">
						</div>
~
						<div class="form-group col-md-3">
							<input type="number" name="end_stock" class="form-control" placeholder="최대 재고" min="0">
						</div>
					</div>

					<label for="depth1">카테고리별 조회</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<select id="depth1" class="form-control">
								<option value="">대분류</option>
								<option th:value="${depth1Obj.d1name}" th:text="${depth1Obj.d1name}" th:each="depth1Obj:${depth1List}"></option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<select id="depth2" class="form-control">
								<option>대분류를 먼저 선택하세요</option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<select id="depth3" class="form-control">
								<option>중분류를 먼저 선택하세요</option>
							</select>
						</div>
					</div>
					<script>
						$("#depth1").change(function (){
//							console.log("change");
							let depth1 = $(this).val(); 
							console.log(depth1);
							let url = "/product/ajax/setdepth2"
							// post 방식으로 pcolorId 데이터를 url에 전송
							$.ajax({
								url:url,
								method:"post",
								data:{"depth1":depth1},
								// 전송 후 결과는 사이즈 리스트를 가지는 jsp fragment가 넘어오고, 해당 fragment를 html에 뿌려줌
								success:function(result) {
									$("#depth2").html(result);
									console.log("result = ", result);
								}
							});
						});
						
						$("#depth2").change(function (){
//							console.log("change");
							let depth2 = $(this).val(); 
							console.log(depth2);
							let url = "/product/ajax/setdepth3"
							// post 방식으로 pcolorId 데이터를 url에 전송
							$.ajax({
								url:url,
								method:"post",
								data:{"depth2":depth2},
								// 전송 후 결과는 사이즈 리스트를 가지는 jsp fragment가 넘어오고, 해당 fragment를 html에 뿌려줌
								success:function(result) {
									$("#depth3").html(result);
									console.log("result = ", result);
								}
							});
						})
					</script>

					<button class="btn btn-primary">검색</button>
				</form>

			</div>
		</div>

		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">조회 결과</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>상품번호</th>
								<th>이름</th>
								<th>사이즈코드</th>
								<th>색상코드</th>
								<th>가격</th>
								<th>재고</th>
								<th>브랜드명</th>
								<th>대분류</th>
								<th>중분류</th>
								<th>소분류</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="product : ${products}">
								<td><a href="#">[[${product.pstockId}]]</a></td>
								<td>[[${product.productName}]]</td>
								<td>[[${product.sizeCode}]]</td>
								<td>[[${product.colorCode}]]</td>
								<td>[[${product.price}]]</td>
								<td>[[${product.stock}]]</td>
								<td>[[${product.brandName}]]</td>
								<td>[[${product.depth1Name}]]</td>
								<td>[[${product.depth2Name}]]</td>
								<td>[[${product.depth3Name}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</th:block>
</th:block>
</html>