<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setLayout(~{this::content})}">
	<th:block th:fragment="content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">이벤트 등록</h1>
		<p>새로운 이벤트를 등록할 수 있습니다.</p>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">이벤트 등록</h6>
			</div>
			<div class="card-body">
				<form action="">
					<div class="form-row">
						<div class="mt-3 form-group col-md-6">
							<label for="product_name">이벤트 제목</label> <input
								name="product_name" class="form-control"
								placeholder="이벤트 제목을 입력하세요" />
						</div>


					</div>


					<div class="form-row">
						<div class=" form-group col-md-8">
							<label for="note">이벤트 내용</label>
							<textarea id="note" class="form-control"
								placeholder="이벤트 내용을 입력하세요"></textarea>
						</div>
					</div>
					<label>이벤트 시행날짜</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<input type="text" name="EstartDate" class="form-control"
								placeholder="이벤트 시행날짜">
						</div>

					</div>
					<label>이벤트 종료날짜</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<input type="text" name="EendDate" class="form-control"
								placeholder="이벤트 종료날짜">
						</div>

					</div>

					<label>최대 당첨자 수</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<input type="text" name="ElimitCount" class="form-control"
								placeholder="최대 당첨자 수">
						</div>

					</div>
					<label>이미지 등록</label>
					<div class="form-row">
						<div class="form-group col-md-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon01">대표
										이미지 등록</span>
								</div>
								<div class="custom-file">
									<input type="file" class="custom-file-input"
										id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="inputGroupFile01">Choose
										file</label>
								</div>
							</div>
						</div>
						<div class="form-group col-md-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon02">추가
										이미지 등록</span>
								</div>
								<div class="custom-file">
									<input type="file" class="custom-file-input"
										id="inputGroupFile02" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="inputGroupFile02">Choose
										file</label>
								</div>
							</div>
						</div>
					</div>




					<button class="btn btn-primary">등록</button>
				</form>

			</div>
		</div>

	</th:block>
</th:block>
</html>