<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setLayout(~{this::content})}">
	<th:block th:fragment="content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">회원 등급 관리</h1>
		<p class="mt-4">회원 등급 정보를 수정합니다.</p>

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">고객등급 등록</h6>
			</div>
			<div class="card-body">
				<form action="">
					<div>
						<label for="grade_aplct_period">적용 기간</label>
							<div class="mt-2 ml-5">
								<div class="form-check">
								  <label class="form-check-label">
								    <input type="radio" class="form-check-input" name="optradio">즉시 적용
								  </label>
								</div>
								<div class="form-check">
								  <label class="form-check-label">
								    <input type="radio" class="form-check-input" name="optradio">다음달 1일부터 적용
								  </label>
								</div>
							</div>
					</div>


					<hr />

					<label>등급 기준</label>
					<div class="ml-5">
						<div class="form-check mt-2">
						  <label class="form-check-label">
						    <input type="radio" class="form-check-input" name="optradio">주문 금액
						  </label>
						</div>
						<div class="form-check">
						  <label class="form-check-label">
						    <input type="radio" class="form-check-input" name="optradio">주문 횟수
						  </label>
						</div>
						
						<hr/>
						
						<p>
							<div class="btn-group">최근
							  <button type="button" class="btn btn-primary ml-2">1일</button>
							  <button type="button" class="btn btn-primary">1주일</button>
							  <button type="button" class="btn btn-primary">1개월</button>
							</div>
						동안 구매확정한 주문건
						</p>						
						
					</div>

					<button class="btn btn-primary mt-5">저장</button>
				</form>

			</div>
		</div>

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">등급별 혜택 설정</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>등급명</th>
								<th>등급별 혜택</th>
								<th>등급별 조건</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="grade:${grades}">
								<td>[[${grade.glevel}]] Level</td>
								<td>[[${grade.grate}]]% 추가적립</td>
								<td>[[${grade.gnote}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		<!-- /.container-fluid -->
	</th:block>
</th:block>
</html>