<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setLayout(~{this::content})}">
	<th:block th:fragment="content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">회원 등급 관리</h1>
		<p class="mt-4">회원 등급 정보를 수정합니다.</p>

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">고객등급 정보 수정</h6>
			</div>
			<div class="card-body">
				<!-- <form id="updateGradePolicy" method="post" action="/grade/policy"> -->
				<form action="">

					<label class="mt-2">등급 측정 기준 기간</label>
					<div class="mt-2 ml-2">최근</div> 
					<div class="mt-2 ml-2">
						<div class="form-check-inline">
						  <label class="form-check-label">
						    <input type="radio" class="form-check-input" name="period" id="period1" value="1">1일(매일 자정 갱신)
						  </label>
						</div>
						<div class="form-check-inline">
						  <label class="form-check-label">
						    <input type="radio" class="form-check-input" name="period" id="period2" value="2">1개월(매월 1일 갱신)
						  </label>
						</div>
						<div class="form-check-inline disabled">
						  <label class="form-check-label">
						    <input type="radio" class="form-check-input" name="period" id="period3" value="3">6개월
						  </label>
						</div>
					</div>
					<div class="mt-2 ml-2">동안 취소되지 않은 주문 건 기준으로 평가</div>
					<script>
						$('input[name=period]').each(function(index) {
							if($(this).val()=="[[${gradeAdmin.criteriaPeriod}]]") {
								$(this).val("[[${gradeAdmin.criteriaPeriod}]]").prop("checked",true);
							}
						});
					</script>

					<input type="button" class="btn btn-primary mt-4" value="변경" onclick="updateGradePolicy()"/>
				</form>
				<script>
				function updateGradePolicy() {
					let id = 'admin';
					let criteriaPeriod = $('input[name="period"]:checked').val();
					data = {id,criteriaPeriod};
					
					$.ajax({
		        		url:"/member/grade/policy/update",
		        		method:"post",
		        		data:data,
		        		success:function(data) {
		        			alert("등급 정책이 수정되었습니다.");
		        			window.location.href= "/member/grade";
		        		}
		        	});
				}
				</script>
			</div>
		</div>

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">등급별 혜택 설정</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>등급명</th>
								<th>등급별 혜택</th>
								<th>등급별 조건</th>
								<th>이미지</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="grade:${grades}">
								<td>[[${grade.glevel}]] Level</td>
								<td>[[${grade.grate}]]% 추가적립</td>
								<td>[[${grade.gnote}]]</td>
								<td><img id = "logo" th:src="${grade.gimg}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		<!-- /.container-fluid -->
	</th:block>
</th:block>
</html>