<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setLayout(~{this::content})}">
	<th:block th:fragment="content">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">회원 조회</h1>
		<p class="mb-4">회원 정보와 회원별 주문 내역을 조회합니다. </p>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">회원 검색</h6>
			</div>
			<div class="card-body">
				<form action="">
					<div class="form-row">
						<div class="mt-3 form-group col-md-6">
							<label>회원 ID</label>
							<input type="text" id="mid" name="mid" class="form-control" placeholder="회원 ID를 입력하세요" />
						</div>
						
						<div class="mt-3 form-group col-md-6">
							<label>이메일</label>
							<input type="text" id="memail" name="memail" class="form-control" placeholder="회원 이메일을 입력하세요 (admin@team2.com)" />
						</div>
					</div>
					
					<div class="form-row">
						<div class="mt-3 form-group col-md-6">
							<label>회원명</label>
							<input type="text" id="mname" name="mname" class="form-control" placeholder="회원명을 입력하세요" />
						</div>

						<div class="mt-3 form-group col-md-6">
							<label>연락처</label>
							<input type="text" id="mphone" name="mphone" class="form-control" placeholder="회원 연락처를 입력하세요 (01012345678)" />
						</div>
					</div>
					
					<hr />
					
					<label class="mt-3">생년월일별 조회</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<input type="date" id="startDateforBirth" name="startDateforBirth" class="form-control" placeholder="조회 시작 날짜" min="1900-01-01">
						</div>
						~
						<div class="form-group col-md-3">
							<input type="date" id="endDateforBirth" name="endDateforBirth" class="form-control" placeholder="조회 종료 날짜" max="2021-12-31">
						</div>
					</div>
					
					<label class="mt-3">회원 가입일별 조회</label>
					<div class="form-row">
						<div class="form-group col-md-3">
							<input type="date" id="startDateforSignUp" name="startDateforSignUp" class="form-control" placeholder="조회 시작 날짜" min="1990-01-01">
						</div>
						~
						<div class="form-group col-md-3">
							<input type="date" id="endDateforSignUp" name="endDateforSignUp" class="form-control" placeholder="조회 종료 날짜" max="2022-12-31">
						</div>
					</div>
					
					<label class="mt-3">성별 조회</label>
					<div class="form-row">
						<div class="form-group col-md-6">
							<select name="gender" class="form-control">
								<option value="">전체</option>
								<option value="1">여성</option>
								<option	value="2">남성</option>
							</select>
						</div>
					</div>
					
					<label class="mt-3">회원 등급별 조회</label>
					<div class="form-row">
						<div class="form-group col-md-6">
							<select name="grade_level" class="form-control">
								<option value="">전체</option>
								<option value="1">Level 1</option>
								<option value="2">Level 2</option>
								<option value="3">Level 3</option>
								<option value="4">Level 4</option>
								<option value="5">Level 5</option>
								<option value="6">Level 6</option>
							</select>
						</div>
					</div>

					<label class="mt-3">회원 유형별 조회</label>
					<div class="form-row">
						<div class="form-group col-md-6">
							<select name="menabled" class="form-control">
								<option value="">전체</option>
								<option value="1">일반 회원</option>
								<option value="2">불량 회원</option>
							</select>
						</div>
					</div>
					<input type="button" class="btn btn-primary mt-3" value="검색" onclick="searchMember()"/>
				</form>
				<script>
					function searchMember(pageNo=1) {
						let mid = $("#mid").val();
			        	let memail = $("#memail").val();
			        	let mname = $("#mname").val();
			        	let mphone = $("#mphone").val();
			        	let startDateforBirth = $("#startDateforBirth").val();
			        	let endDateforBirth = $("#endDateforBirth").val();
			        	let startDateforSignUp = $("#startDateforSignUp").val();
			        	let endDateforSignUp = $("#endDateforSignUp").val();
			        	let gender = $("select[name=gender] option:selected").val();
			        	let grade_level = $("select[name=grade_level] option:selected").val();
			        	let menabled = $("select[name=menabled] option:selected").val();
			        	
			        	data = {
			        			mid,
			        			memail,
			        			mname,
			        			mphone,
			        			startDateforBirth,
			        			endDateforBirth,
			        			startDateforSignUp,
			        			endDateforSignUp,
			        			gender,
			        			grade_level,
			        			menabled,
			        			pageNo
			        	};
			        	
			        	$.ajax({
			        		url:"/member/result",
			        		method:"post",
			        		data:data,
			        		success: function(result) {
			        			$("#result").html(result);
			        		}
			        	});
					}
				</script>
			</div>
		</div>

		<!-- DataTales Example -->
		<div class="card shadow mb-4" id="result">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">조회 결과</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>ID</th>
								<th>이름</th>
								<th>이메일</th>
								<th>연락처</th>
								<th>생년월일</th>
								<th>회원가입일</th>
								<th>성별</th>
								<th>등급</th>
								<th>주문내역</th>
								<th>회원 유형</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="member : ${members}">
								<td>[[${member.mid}]]</td>
								<td>[[${member.mname}]]</td>
								<td>[[${member.memail}]]</td>
								<td>[[${member.mphone}]]</td>
								<td th:text="${#dates.format(member.birth,'yyyy-MM-dd')}"></td>
								<td th:text="${#dates.format(member.signUpDate,'yyyy-MM-dd')}"></td>
								<td th:if="${member.gender==0}"> - </td>
								<td th:if="${member.gender==1}">여성</td>
								<td th:if="${member.gender==2}">남성</td>
								<td>[[${member.gradeLevel}]]</td>
								<td><button class="btn btn-primary">주문내역 보기</button></td>
								<td th:if="${member.menabled}==1">일반 회원</td>
								<td th:unless="${member.menabled}==1">불량 회원</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</th:block>
</th:block>
</html>