<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setLayout(~{this::content})}">
	<th:block th:fragment="content">
		<!-- Page Heading -->

		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
			<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
				<i class="fas fa-download fa-sm text-white-50"></i>
				Generate Report
			</a>
		</div>
		
		
		<!-- Content Row -->
		<div class="row">

			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-secondary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">월간 매출</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">₩[[${totalPriceAll}]]원</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-calendar fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-success text-uppercase mb-1">연간 매출</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">₩[[${totalPriceAll}]]원</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Earnings (Monthly) Card Example -->
	

			<!-- Pending Requests Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-warning shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">상품 총 판매량</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">[[${totalCountAll}]]개</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-comments fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Content Row -->

		<div class="row">

			<!-- Area Chart -->
			<div class="col-xl-8 col-lg-7">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">주문금액 변경 추이</h6>
						<div class="dropdown no-arrow">
							<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
								<div class="dropdown-header">Dropdown Header:</div>
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="chart-area">
							<canvas id="myAreaChart"></canvas>
						</div>
					</div>
				</div>
			</div>
			
						<div class="col-xl-8 col-lg-7">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">주문량 변경 추이</h6>
						<div class="dropdown no-arrow">
							<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
								<div class="dropdown-header">Dropdown Header:</div>
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="chart-area">
							<canvas id="myAreaChart1"></canvas>
						</div>
					</div>
				</div>
			</div>

			<!-- Pie Chart -->
			<div class="col-xl-4 col-lg-5">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">상위 3개 브랜드 매출 점유율</h6>
						<div class="dropdown no-arrow">
							<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
								<div class="dropdown-header">Dropdown Header:</div>
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="chart-pie pt-4 pb-2">
							<canvas id="myPieChart"></canvas>
						</div>
						<div class="mt-4 text-center small">
							<span class="mr-2">
								<i class="fas fa-circle text-primary"></i>
								브랜드 1
							</span>
							<span class="mr-2">
								<i class="fas fa-circle text-success"></i>
								브랜드 2
							</span>
							<span class="mr-2">
								<i class="fas fa-circle text-info"></i>
								브랜드 3
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<input type="hidden" th:id="size" th:value="${shareByBrandList.size}">
		<div th:each="brandList : ${shareByBrandList}">
		<input type="hidden" th:id="${'bname' + brandListStat.index}" th:value="${brandList.bname}"/>
		<input type="hidden" th:id="${'totalprice' + brandListStat.index}" th:value="${brandList.totalprice}"/>
		<input type="hidden" th:id="${'totalcount' + brandListStat.index}" th:value="${brandList.totalcount}"/>
		</div>
		
		<script th:inline="javascript">
			
				var totalPrice = 0 ;
				var totalCount = 0 ;
				for(var i = 0; i < $(size).val(); i++){
					let checkId = '#totalprice' + i;
					totalPrice += Number($(checkId).val()); 	
				}
				console.log(totalPrice);
				
				var inputMonth1;
				var inputMonth2;
				var inputMonth3;
				var inputMonth4;
				var inputMonth5;
				var inputMonth6;
				var inputMonth7;
				var inputMonth8;
				var inputMonth9;
				var inputMonth10;
				var inputMonth11;
				var inputMonth12;
				
				var inputPrice1;
				var inputPrice2;
				var inputPrice3;
				var inputPrice4;
				var inputPrice5;
				var inputPrice6;
				var inputPrice7;
				var inputPrice8;
				var inputPrice9;
				var inputPrice10;
				var inputPrice11;
				var inputPrice12;
				
				var inputCount1;
				var inputCount2;
				var inputCount3;
				var inputCount4;
				var inputCount5;
				var inputCount6;
				var inputCount7;
				var inputCount8;
				var inputCount9;
				var inputCount10;
				var inputCount11;
				var inputCount12;
				
				
				
					var inputtest = [[${statByMonth}]]["statDtoList"][0]["day"];
					var inputtest2 = [[${statByMonth}]]["statDtoList"][0]["sumbyday"];
					var inputtest3 = [[${statByMonth}]]["statDtoList"][0]["countbyday"];
					this.inputCount1 = inputtest3;
					this.inputMonth1 = inputtest;
					this.inputPrice1 = inputtest2;
					
					 inputtest = [[${statByMonth}]]["statDtoList"][1]["day"];
					 inputtest2 = [[${statByMonth}]]["statDtoList"][1]["sumbyday"];
					 inputtest3 = [[${statByMonth}]]["statDtoList"][1]["countbyday"];
						this.inputCount2 = inputtest3;
					this.inputMonth2 = inputtest;
					this.inputPrice2 = inputtest2;
					
					 inputtest = [[${statByMonth}]]["statDtoList"][2]["day"];
					 inputtest2 = [[${statByMonth}]]["statDtoList"][2]["sumbyday"];
					 inputtest3 = [[${statByMonth}]]["statDtoList"][2]["countbyday"];
						this.inputCount3 = inputtest3;
					this.inputMonth3 = inputtest;
					this.inputPrice3 = inputtest2;
					
					 inputtest = [[${statByMonth}]]["statDtoList"][3]["day"];
					 inputtest2 = [[${statByMonth}]]["statDtoList"][3]["sumbyday"];
					 inputtest3 = [[${statByMonth}]]["statDtoList"][3]["countbyday"];
						this.inputCount4 = inputtest3;
					this.inputMonth4 = inputtest;
					this.inputPrice4 = inputtest2;
					
					 inputtest = [[${statByMonth}]]["statDtoList"][4]["day"];
					 inputtest2 = [[${statByMonth}]]["statDtoList"][4]["sumbyday"];
					 inputtest3 = [[${statByMonth}]]["statDtoList"][4]["countbyday"];
						this.inputCount5 = inputtest3;
					this.inputMonth5 = inputtest;
					this.inputPrice5 = inputtest2;
					
					 inputtest = [[${statByMonth}]]["statDtoList"][5]["day"];
					 inputtest2 = [[${statByMonth}]]["statDtoList"][5]["sumbyday"];
					 inputtest3 = [[${statByMonth}]]["statDtoList"][5]["countbyday"];
						this.inputCount6 = inputtest3;
					this.inputMonth6 = inputtest;
					this.inputPrice6 = inputtest2;
					
					 inputtest = [[${statByMonth}]]["statDtoList"][6]["day"];
					 inputtest2 = [[${statByMonth}]]["statDtoList"][6]["sumbyday"];
					 inputtest3 = [[${statByMonth}]]["statDtoList"][6]["countbyday"];
						this.inputCount7 = inputtest3;
					this.inputMonth7 = inputtest;
					this.inputPrice7 = inputtest2;
					
					 inputtest = [[${statByMonth}]]["statDtoList"][7]["day"];
					 inputtest2 = [[${statByMonth}]]["statDtoList"][7]["sumbyday"];
					 inputtest3 = [[${statByMonth}]]["statDtoList"][7]["countbyday"];
						this.inputCount8 = inputtest3;
					this.inputMonth8 = inputtest;
					this.inputPrice8 = inputtest2;
					
					 inputtest = [[${statByMonth}]]["statDtoList"][8]["day"];
					 inputtest2 = [[${statByMonth}]]["statDtoList"][8]["sumbyday"];
					 inputtest3 = [[${statByMonth}]]["statDtoList"][8]["countbyday"];
						this.inputCount9 = inputtest3;
					this.inputMonth9 = inputtest;
					this.inputPrice9 = inputtest2;
					
					 inputtest = [[${statByMonth}]]["statDtoList"][9]["day"];
					 inputtest2 = [[${statByMonth}]]["statDtoList"][9]["sumbyday"];
					 inputtest3 = [[${statByMonth}]]["statDtoList"][9]["countbyday"];
						this.inputCount10 = inputtest3;
					this.inputMonth10 = inputtest;
					this.inputPrice10 = inputtest2;
					
					 inputtest = [[${statByMonth}]]["statDtoList"][10]["day"];
					 inputtest2 = [[${statByMonth}]]["statDtoList"][10]["sumbyday"];
					 inputtest3 = [[${statByMonth}]]["statDtoList"][10]["countbyday"];
						this.inputCount11 = inputtest3;
					this.inputMonth11 = inputtest;
					this.inputPrice11 = inputtest2;
					
					 inputtest = [[${statByMonth}]]["statDtoList"][11]["day"];
					 inputtest2 = [[${statByMonth}]]["statDtoList"][11]["sumbyday"];
					 inputtest3 = [[${statByMonth}]]["statDtoList"][11]["countbyday"];
						this.inputCount12 = inputtest3;
					this.inputMonth12 = inputtest;
					this.inputPrice12 = inputtest2;
			

				
				//console.log(test["statDtoList"]);
				//var test2 = test.val();
				//console.log(test2);
				//console.log(test["statDtoList"][0]);
				//console.log(test["statDtoList"][0]["day"]);
				
			
				
		</script>

		<!-- Content Row -->

	</th:block>